<div class="container">
  <script src="https://use.fontawesome.com/c51cc08ec6.js"></script>
      <div class="container-fluid text-center" id="footerId">
         <div class="footer-text text-muted row">
            Created by Sérgio Gaspar for freeCodeCamp Challenge:
            <a href="https://www.freecodecamp.com/challenges/manage-a-book-trading-club" target="_blank">Manage a book trading club</a>.
         </div>
         <div class="social-icons">
            <h2><a href="https://github.com/sergiomgaspar" target="_blank"  ><i id="github" class="fa fa-github" aria-hidden="true"></i></a>
            <a href="http://codepen.io/sergiomgaspar/" target="_blank"><i id="codepen" class="fa fa-codepen" aria-hidden="true"></i></a>
            <a href="https://www.freecodecamp.com/sergiomgaspar" target="_blank"><i id="freecodecamp" class="fa fa-free-code-camp" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/sergiomgaspar" target="_blank"><i id="linkedin" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="https://twitter.com/sergiomgaspar" target="_blank"><i id="twitter" class="fa fa-twitter" aria-hidden="true"></i></a></h2>
         </div>
      </div>
</div>
