
#title {
    font-family: 'Kaushan Script', cursive; 
    text-align: center;
}
#techType {
    font-size: 35px;
    color: #0C8DF7;
    font-family: 'Kaushan Script', cursive; 
    text-align: center;
}

#titleDescr {
    font-family: 'Kaushan Script', cursive; 
    text-align: center;
}
#techTable {
    font-size: 20px;
    font-family: 'Lora', serif;
}

#techTitle {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #0876EB;
}

#techBody {
    font-family: 'Bitter', serif;
    text-align: justify;
}

#techLogo{
    width: 100px; 
    height: 100px;
    text-align:center;
    vertical-align: middle;
}

#techName{
    text-align: center;
    vertical-align: middle;
    font-family: 'Bree Serif', serif;
    color: #0C8DF7;
}