<div class="container">
	<div class="row">
		<div class="col-lg-12 page-header-add">
			<h1 class="page-header">My Books</h1>
		</div>
	</div>
</div>


<div class = "row">
<div class = "col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
<div class = "col-xs-6 col-sm-6 col-md-4 col-lg-4" id="results">
	<h3 id="tradeText">Trades requested:</h3>
	<div id="resultsSection" class="row pull-center">
		<div id="resultContentList" ng-repeat="book in mybooksCtrl.waitingList">
			<div class="result-list-container" ng-hide="book.hide =='YES'">
				<div class = "row"  >
					<div class = "col-xs-0 col-sm-0 col-md-4 col-lg-4" id="resultImage">
						<img src="{{book.thumbnail}}"  class="img-responsive center-block">
					</div>
					<div class = "col-xs-12 col-sm-12 col-md-8 col-lg-8" id="resultText">
						<b>Name:</b> {{book.title}}<br>
            <b>Book Owner:</b> {{book.ownerName}} <br>
						<br>
						<button type="button" 
							class="btn btn-danger"
							ng-click="mybooksCtrl.cancelRequest($index)">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class = "col-xs-6 col-sm-6 col-md-4 col-lg-4" id="results">
	<h3 id="tradeText">Trades pending OK:</h3>
	<div id="resultsSection" class="row pull-center">
		<div id="resultContentList" ng-repeat="book in mybooksCtrl.requestedList">
			<div class="result-list-container" ng-hide="book.hide == 'YES'">
				<div class = "row"  >
					<div class = "col-xs-0 col-sm-0 col-md-4 col-lg-4" id="resultImage">
						<img src="{{book.thumbnail}}"  class="img-responsive center-block">
					</div>
					<div class = "col-xs-12 col-sm-12 col-md-8 col-lg-8" id="resultText">
						<b>Name:</b> {{book.title}}<br>
            <b>Book Requester:</b> {{book.requesterName}} <br>
						<br>
						<button type="button"class="btn btn-success"
							ng-click="mybooksCtrl.concludeRequest($index)">OK</button>
						<button type="button"class="btn btn-danger"
							ng-click="mybooksCtrl.rejectRequest($index)">Reject</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class = "col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
</div>

<div class = "row"></div>

<!-- User owned books -->
<div class="container" id = "userBookList">
	<h3 id="tradeText">Below is the list of books you own:</h3>
	<div  ng-repeat="book in mybooksCtrl.bookList" >
		<div class = "row" id="myBooksresults" ng-hide="book.hide == 'YES'">
			<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id="resultText">
				<b>Name:</b> {{book.title}}<br>
				<b>Description:</b> {{book.descriptionFull}} <br>
				<b>author:</b>
				<div ng-repeat="author in book.authors">{{author}} </div>
				<br>
				<img src="{{book.thumbnail}}"  class="img-responsive center-block">
				<br>
				<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id="buttonBooksDel">
					<button type="button"
						class="btn btn-danger" 
						ng-click="mybooksCtrl.deleteBook($index)">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>