
<div class="container">
  <div class="row">
    <div class="col-lg-12 page-header-add">
      <h1 class="page-header">My Books</h1>
      <h3>Below is the list of books you own<h3>
      <h4>These books are available to trade with other users</h4>
    </div>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12" id = "topText">
			<h2>Aqui fica a lista de livros pendentes aprovação e para aprovar</h2>
		</div>
	</div>
</div>

<div class="container">
	<!--<div class="row">-->
		<!--<div class = "col-xs-6 col-sm-6 col-md-4 col-lg-4" id="results">-->
			<!--<div id="resultsSection" class="row pull-center">-->
				<div >
					<!--<div class="result-list-container" ng-repeat="book in mybooksCtrl.bookList">-->
						<div  ng-repeat="book in mybooksCtrl.bookList" >
						<div class = "row" id="myBooksresults">
							<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id="resultText">
								
								<b>Name:</b> {{book.title}}<br>
								<b>Description:</b> {{book.descriptionFull}} <br>
								<b>author:</b><div ng-repeat="author in book.authors">{{author}} </div>
								<br>
								<!--<div class = "col-xs-3 col-sm-3 col-md-2 col-lg-2" id="resultImage">-->
								<img src="{{book.thumbnail}}"  class="img-responsive center-block">
								<!--<div id = "rating">-->
									<!--<h4><b>rating: {{book.averageRating}} </b></h4>-->
								<!--</div>-->
							<!--</div>-->
							<br>
							<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12" id="buttonBooksDel">
								<button type="button"
									class="btn btn-danger" 
									ng-click="mybooksCtrl.deleteBook($index)">Delete</button>
							</div>
							</div>
						</div>
					</div>
				<!--</div>-->
			</div>
		<!--</div>-->
	<!--</div>-->
</div>
